<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript">
function formatCurrency(n) {
	return "$" + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
}
</script>

<style type="text/css">
.center { text-align: center; }
.right { text-align: right; }
.spacer {  margin-top: 20px; clear:both; }
</style>

<div class="container">
	<div class="row">
		<div id="graph-container" style="width:100%; height:600px;"></div>
		<div class="col-sm-12">
			<h2 class="page-header">All Transactions - Consolidated Monthly View</h2>
			{{#if errors}}
			{{#each errors}}
			<div class="alert alert-danger">{{msg}}</div>
			{{/each}}
			{{/if}}
			<table id="datatable" class="hidden">
				<thead>
        			<tr>
        				<th></th>
        				{{#each categories}}
        					<th>{{this}}</th>
        				{{/each}}
        			</tr>
        		</thead>
        		<tbody>
        			{{#each dataForGraph}}
        				<tr>
        					<td>{{ lookup ../months @key }}</td>
        					{{#each this}}
        						<td>{{this}}</td>
        					{{/each}}
        				</tr>
    				{{/each}}
        		</tbody>
			</table>

			<table class="table table-bordered table-hover table-condensed">
				<thead>
        			<tr>
        				<th></th>
        				{{#each months}}
        					<th>{{this}}</th>
        				{{/each}}
        			</tr>
        		</thead>
        		<tbody>
        			{{#each dataForTable}}
        				<tr>
        					<td>{{ lookup ../categories @key }}</td>
        					{{#each this}}
        						<td>{{formatCurrency this}}</td>
        					{{/each}}
        				</tr>
    				{{/each}}
        		</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
Highcharts.chart('graph-container', {
    data: {
        table: 'datatable'
    },
    chart: {
        type: 'line'
    },
    title: {
        text: 'Expenses - Consolidated View'
    },
    yAxis: {
        allowDecimals: true,
        title: {
            text: 'Dollars'
        }
    },
    tooltip: {
        formatter: function () {
            return '<b>' + this.series.name + '</b><br/>' +
                 '$' + this.point.y;
        }
    }
});
</script>