<script type="text/javascript">
function formatCurrency(n) {
	return "$" + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
}
</script>

<style type="text/css">
.center { text-align: center; }
.right { text-align: right; }
.spacer {  margin-top: 20px; clear:both; }
</style>

<div class="container">
	<h2>All Transactions</h2>
	{{#if errors}}
	{{#each errors}}
	<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
	{{/if}}

	{{#each results}}
	<h4 class="spacer">{{ @key }}</h4>
	<div class="table-responsive col-md-8 spacer">
		<table class="table table-bordered table-hover table-condensed">
			<thead class="thead-inverse">
				<tr>
					<th class="col-md-2 center">Date</th>
					<th class="col-md-5 center">Item</th>
					<th class="col-md-2 center">Expense</th>
					<th class="col-md-2 center">Income</th>
					<th class="col-md-1 center">Delete</th>
				</tr>
			</thead>
			<tbody>
				<script type="text/javascript">
				var net = Number(0);
				</script>
				{{#each this}}
				<tr>
					<td class="center">{{ formatDate this.dateOfTransaction }}</td>
					<td>{{ this.category }}</td>
					{{#if (if_eq this.type 'Income')}}
					<script type="text/javascript">
					net = net + Number({{ this.amount }});
					</script>
					<td></td>
					<td class="right">{{ formatCurrency this.amount }}</td>
					{{else}}
					<script type="text/javascript">
					net = net - Number({{ this.amount }});
					</script>
					<td class="right">{{ formatCurrency this.amount }}</td>
					<td></td>
					{{/if}}
					<td class="center"><a href="/finance/deleteTransaction/{{ this.id }}"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="spacer">
		<p id='net-{{@key}}'></p>
		<script type="text/javascript">
			document.getElementById('net-{{@key}}').innerHTML = "<strong>Balance for the month of {{@key}}: " + formatCurrency(net) + "</strong>";
		</script>
	</div>
	{{/each}}
</div>